* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.debug {
  border: 1px solid red;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

section {
  flex: 1;
}

/* Header */

header {
  background-color: #1f2937;
  flex-shrink: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 50px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

a {
  color: #f9faf8;
  text-decoration: none;
  font-size: 13px;
  color: #e5e7eb;
}

/* First Section */

.hero-section {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text-container {
  display: flex;
  margin: 50px 50px;
  gap: 10px;
}

.items {
  color: #fff;
  flex: 1;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
  }
  p {
    font-size: 16px;
    color: #e5e7eb;
  }
}

.signup-button {
  background-color: #3882f6;
  color: white;
  border: none;
  padding: 5px 25px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 30%;
}

.signup-button:hover {
  background-color: #3367d6;
}

.image-placeholder {
  background-color: #6d747d;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

/* Info Section */
.info-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-container {
  display: flex;
  flex-direction: column;
  margin: 30px 120px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.information-header {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}
.info-boxes {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.info-box {
  width: 120px;
  height: 120px;
  border: 2px solid #3882f6;
  border-radius: 10px;
  margin-bottom: 10px;
}
.info-text {
  font-size: 13px;
  color: #666;
  max-width: 120px;
}

/* Quote Section */
.quote-section {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.quote-container {
  display: flex;
  flex-direction: column;
  margin: 30px 250px;
  text-align: justify;
}
.quote-text {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
}
.author-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.author {
  font-weight: 800;
}

/* Action Section */
.action-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-container {
  background-color: #3882f6;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  padding: 25px;
  margin: 40px 0;
  width: 650px;
}
.action-phrase > h1 {
  color: #fff;
  font-size: 16px;
}
.action-phrase > p {
  color: #e5e7eb;
  font-size: 12px;
}

.action-button {
  background-color: #3882f6;
  color: white;
  border: none;
  padding: 5px 25px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid white;
}

/* Footer */
footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 5vh;
  color: #e5e7eb;
}
